<meta property="og:title" content="Andrea Martelloni - Tech Innovator, Musician, AI Expert" />
<meta property="og:description" content="Andrea Martelloni's personal website showcasing projects in tech innovation, music production, and edge AI. Connect and learn more." />
<meta property="og:image" content="https://martelloni.github.io/assets/images/me.jpg" />
<meta property="og:image:alt" content="Andrea Martelloni profile picture" />
<meta property="og:url" content="https://martelloni.github.io/" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Andrea Martelloni - Tech Innovator, Musician, AI Expert" />
<meta name="twitter:description" content="Andrea Martelloni's personal website showcasing projects in tech innovation, music production, and edge AI." />
<meta name="twitter:image" content="https://martelloni.github.io/assets/images/me.jpg" />